/*---------------------------------------------
Proposta: Redesign do site http://rockinrio.com/rio/pt-BR

Desenvolvido por: Jeanne Lima
Behance: https://www.behance.net/jeannelimac442
Linkedin: https://br.linkedin.com/in/jeannecslima
---------------------------------------------*/

/*Anotações -----------------------------------

---------------------------------------------*/


/* Informações Gerais
---------------------------------------------*/
html, body{
    width: 100%;
}
html, body, .container , .row{
    padding: 0;
    margin: 0;
    border: 0;
    
}
body{
    overflow-x: hidden;
}

/* Seção Navbar
---------------------------------------------*/


/* Seção Header Apresentação
---------------------------------------------*/
/* Carousel */
.carousel-inner .item img{
    width: 100vw;
    height: 100vh;
}
.carousel-control{
    position: absolute;
    top: 45%;
}
.titulo-carousel{
    text-transform: uppercase;
    font-weight: 600;
}
.carousel-caption{
    position: absolute;
    top: 40%;
}
/* Botao Carousel Apresentacao */
.saiba-mais-1 button{
    display: block;
    border: 3px solid #7DCD23;
    border-radius: 0%;
    background: transparent;
    color: #fff;  
    font-weight: 600;
}
.saiba-mais-1 .btn-extra-area{
    background: #7DCD23;
}
.btn-extra-area .glyphicon{
    color: #000;
}

/* Seção Hotéis Oficiais
---------------------------------------------*/
#secao-hoteis{
    background-image: url('../img/bg-hoteis.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    color: #fff;
    overflow: hidden;
}
.infos-titulo{
    margin: 0 0 25px 0;
}
.titulo-secoes{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 5px;
}
.divisor-linha{
    display:block;
    border-bottom: 3px solid #E4446F;
    width: 15%;
    padding: 0;
    margin: 20px 0;  
}
.explicacao-secoes{
    font-size: 21px;
}
.btn{
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    border: 3px solid #fff;
    border-radius: 0%;
    background: transparent;
    color: #fff;
    margin: 25px 0;
}
/* Seção Artista Convidado
---------------------------------------------*/
.convidado-img{
    background-image: url('../img/justin-timberlake.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
}
#secao-convidado{
    background: #000;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#secao-convidado .infos-titulo{
    text-align: center;
}
.subtitulo-secoes{
    display: block;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 5px;
}
#secao-convidado .divisor-linha{
    position: relative;
    left:42.5%;
    border-bottom: 3px solid #E46230;
}
#secao-convidado button{
    position: relative;
    left:22.5%;
}
.infos-convidado{
    color: #fff;
}
/* Seção Produtos Oficiais
---------------------------------------------*/
#secao-produtos{
    background-image: url('../img/bg-produtos-oficias.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    overflow: hidden;
    color: #fff;
}
.infos-produtos{
    margin: 50px 0;
}
#img-produtos{
    margin: 100px 0 50px;
}
.produto, .produto-2{
    display: inline-block;
    margin: 5px 5px; 
}
#secao-produtos .divisor-linha{
    position: relative;
    left:42.5%;
    border-bottom: 3px solid #3EB6DD;
}
#secao-produtos button{
    position: relative;
    left:43.5%;
}

/* Seção Notícias
---------------------------------------------*/


/* Seção Dados
---------------------------------------------*/
#secao-dados{
    background-image: url('../img/bg-dados.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-transform: uppercase;
    overflow: hidden;
}
.bloco-dado-1,.bloco-dado-2,.bloco-dado-3,.bloco-dado-4{
    text-align: center;
    font-weight: 600;
    letter-spacing: 5px;
}
.numero-dado{
    display: block;
    font-size: 60px;
}
.titulo-dado{
    display: block;
    font-size: 36px;
}
.subtitulo-dado{
    display: block;
    font-size: 18px;
    font-weight: 300;
}
#secao-dados button{
    position: relative;
    left:38%;
}
.bloco-dado-1{
    color: #1DA812;
}
.bloco-dado-2{
    color: #27CCBC;
}
.bloco-dado-3{
    color: #B554F2;
}
.bloco-dado-4{
    color: #E33B3B;
}
.retangulo-dado-1{
    position: absolute;
    left:21.5%;
    top: 20%;
}

/* Efeitos
---------------------------------------------*/
a:hover, a:active{
    color:#fff;
}
#opcoes .btn:hover, #opcoes .dropdown-menu a:hover, .navbar .dropdown-menu a:hover{
    background-color: transparent;
    color: #fff;
}
.bloco-noticia a:hover{
    filter: grayscale(100%)
}

/* Media Queries
---------------------------------------------*/
@media only screen and (max-width: 768px) {
    /* Carousel Apresentacao */
    .titulo-carousel{
        font-size: 24px;
    }
    /* Botao Carousel Apresentacao */
    .saiba-mais-1{
        margin: 0 15px 0;
    }
    .infos-hoteis{
        margin: 25% 12.5% 0;
        padding: 0;
    }
    .infos-titulo{
        text-align: center;
        margin: 0 0 50px 0;
    }
    #secao-hoteis .btn{
        margin: 25px 15% 0; 
    }
    #secao-hoteis .divisor-linha{
        margin: 15px 40%;   
    }
    /* Seção Artista Convidado*/
    .convidado-img{
        background-image: url('../img/justin-timberlake_mobile.png');
        width: 100vw;
        height: 60vh;
    }
    #secao-convidado{
        height: 150vh;
    }
    .subtitulo-secoes{
        font-size: 14px;
    }
    .infos-convidado{
        margin: 25% 10% 0;
    }
    #secao-convidado .btn{
        margin: 25px -25% 0; 
    }
    /* Seção Produtos Oficiais*/
    #img-produtos{
        margin: 50px 0;
        position: relative;
        left: 10%;
    }
    #secao-produtos .infos-titulo{
        position: relative;
        left: 12.5%;
    }
    #secao-produtos .btn{
        position: relative;
        left: 32.5%;
    }
    /* Secao Dados */
    #secao-dados{
        width: 100%;
        height: 185vh;
    }
    .bloco-dado-1,.bloco-dado-2,.bloco-dado-3,.bloco-dado-4{
        margin: 0 0 40px;
    }
    .coluna-dado{
        margin: 5% 12.5% 0;
    }
    #secao-dados .btn{
        margin: 5px -20% 0; 
    }
}

@media (max-width: 768px) and (orientation: landscape){
   /* Carousel Apresentacao */
    .titulo-carousel{
        font-size: 35px;
    } 
   /* Botao Carousel Apresentacao */
    .saiba-mais-1{
        margin: -15px 15px 0;
    }
    /* Secao Hoteis */
    #secao-hoteis{
        height: 150vh;
    } 
     #secao-hoteis .btn{
        margin: 25px 32.5% 0; 
    }
    /* Seção Artista Convidado*/
    .convidado-img{
        background-image: url('../img/justin-timberlake_mobile.png');
        width: 100vw;
        height: 150vh;
    }
    #secao-convidado{
        height: 275vh;
    }
    .infos-convidado{
        margin: 10% 10% 0;
    }
    #secao-convidado .btn{
        margin: 25px -5% 0; 
    }
    .produto-2, .produto{
        margin: 0 1px 0;
        width: 125px;
    }
    #img-produtos{
        position: relative;
        left: 12.5%;
    }
    #secao-produtos .btn{
        position: relative;
        left: 47.5%;
    }
    /* Secao Dados */
    #secao-dados{
        width: 100%;
        height: 300vh;
    }
    .bloco-dado-1,.bloco-dado-2,.bloco-dado-3,.bloco-dado-4{
        margin: 0 0 40px;
    }
    .coluna-dado{
        margin: 5% 12.5% 0;
    }
    #secao-dados .btn{
        margin: 5px 0 0; 
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    /* Carousel Apresentacao */
    .titulo-carousel{
        font-size: 35px;
    }
    /* Botao Carousel Apresentacao */
    .saiba-mais-1{
        margin: -25px 25px 0;
    }
    /* Secao Hoteis */
    .infos-hoteis{
        margin: 25% 35% 0;
        padding: 0;
    }
    .infos-titulo{
        text-align: left;
        margin: 0 0 50px 0;
    }
    #secao-hoteis .btn{
        margin: 25px 0 0; 
    }
    #secao-hoteis .divisor-linha{
        margin: 15px 0;   
    }
    /* Secao Artista Convidado */
    .convidado-img{
        background-image: url('../img/justin-timberlake_mobile.png');
        width: 100vw;
        height: 60vh;
    }
    #secao-convidado{
        height: 140vh;
    }
    .infos-convidado{
        margin: 10% 10% 0;
    }
    #secao-convidado .btn{
        margin: 25px 5% 0; 
    }
    /* Secao Artista Convidado */
    .convidado-img{
        background-image: url('../img/justin-timberlake_mobile.png');
        width: 100vw;
        height: 60vh;
    }
    #secao-convidado{
        height: 100vh;
    }
    .infos-convidado{
        margin: 10% 10% 0;
    }
    #secao-convidado .btn{
        margin: 25px 1.5% 0; 
    }
    /* Seção Produtos Oficiais*/
    #secao-produtos{
        height: 100vh;
    }
    #img-produtos{
        margin: 100px 50px;
        position: relative;
        left: 0;
    }
    #secao-produtos .infos-titulo{
        margin-left: -20%;
        text-align: center;
    }
    #secao-produtos .btn{
        position: relative;
        left: 38.5%;
    }
    /* Secao Dados */
    #secao-dados{
        width: 100%;
        height: 100vh;
    }
    .bloco-dado-1,.bloco-dado-2,.bloco-dado-3,.bloco-dado-4{
        margin: 0 0 25px;
    }
    .coluna-dado{
        margin: 5% 27.5% 0;
    }
    #secao-dados .btn{
        margin: 10px -1.5% 0; 
    }
}

@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
    /* Carousel Apresentacao */
    .titulo-carousel{
        font-size: 35px;
    }
    /* Botao Carousel Apresentacao */
    .saiba-mais-1{
        margin: -25px 25px 0;
    }
    /* Secao Hoteis */
    .infos-hoteis{
        margin: 25% 12.5% 0;
        padding: 0;
    }
    .infos-titulo{
        text-align: center;
        margin: 0 0 50px 0;
    }
    #secao-hoteis .btn{
        margin: 25px 15% 0; 
    }
    #secao-hoteis .divisor-linha{
        margin: 15px 40%;   
    }
    /* Secao Artista Convidado */
    .convidado-img{
        background-image: url('../img/justin-timberlake_mobile.png');
        width: 100vw;
        height: 60vh;
    }
    #secao-convidado{
        height: 140vh;
    }
    .infos-convidado{
        margin: 10% 10% 0;
    }
    #secao-convidado .btn{
        margin: 25px 5% 0; 
    }
    /* Secao Dados */
    #secao-dados{
        width: 100%;
        height: 100vh;
    }
    .bloco-dado-1,.bloco-dado-2,.bloco-dado-3,.bloco-dado-4{
        margin: 100px 0 100px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* Carousel Apresentacao */
    .titulo-carousel{
        font-size: 50px;
    }
    /* Botao Carousel Apresentacao */
    .saiba-mais-1{
        margin: -35px 25px 0;
    }
    /* Secao Hoteis */
    .infos-hoteis{
        position: relative;
        top: 200px;
        left: 40%;
    }
    /* Secao Artista Convidado */
    .convidado-img{
        background-image: url('../img/justin-timberlake.png');
        width: 60%;
        height: 100vh;
    }
    #secao-convidado .infos-convidado{
        position: relative;
        top: 200px;
        width: 33.3%;
    }
    #secao-convidado .btn{
        margin: 25px -20% 0; 
    }
    /* Seção Produtos Oficiais*/
    #secao-produtos{
        width: 100%;
        height: 125vh;
    }
    .produto-2{
        width: 288px;
    }
    /* Secao Dados */
    .bloco-dado-1,.bloco-dado-2,.bloco-dado-3,.bloco-dado-4{
        margin: 25px 0 25px;
    }
}


@media only screen and (min-width: 1200px) {
    /* Carousel Apresentacao */
    .titulo-carousel{
        font-size: 60px;
    }
    /* Botao Carousel Apresentacao */
    .saiba-mais-1{
        margin: -35px 25px 0;
    }
    /* Secao Hoteis */
    .infos-hoteis{
        position: relative;
        top: 150px;
        left: 40%;
    }
    /* Secao Artista Convidado */
    #secao-convidado{
        overflow: hidden;
    }
    .convidado-img{
        background-image: url('../img/justin-timberlake.png');
        width: 50%;
        height: 100vh;
    }
    .subtitulo-secoes{
        font-size: 14px;
    }
    .infos-convidado{
        margin: 150px 0;
    }
    #secao-convidado .infos-convidado{
        position: relative;
        top: 0;
        right: -5%;
        width: 33.3%;
    }
    #secao-convidado .btn{
        margin: 25px -22.5% 0; 
    }
    /* Seção Produtos Oficiais*/
    #secao-produtos{
        width: 100%;
        height: 100vh;
    }
    .produto-2{
        width: 288px;
    }
    /* Secao Dados */
    #secao-dados{
        width: 100%;
        height: 100vh;
    }
    .bloco-dado-1,.bloco-dado-2,.bloco-dado-3,.bloco-dado-4{
        margin: 25px 0 25px;
    }
}
